services:

  postgres_db:
    image: postgres:15
    container_name: postgres_db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=learning_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d learning_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  mongo_db:
    image: mongo:6.0
    container_name: mongo_db
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

  core_service:
    build:
      context: ./backend/core_service
      dockerfile: Dockerfile
    container_name: core_service
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload --proxy-headers
    volumes:
      - ./backend/core_service:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@postgres_db:5432/learning_db
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
    depends_on:
      postgres_db:
        condition: service_healthy
      rabbitmq: 
        condition: service_started
    restart: unless-stopped

  code_executor_service:
    build:
      context: ./backend/code_executor_service
      dockerfile: Dockerfile
    container_name: code_executor_service
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend/code_executor_service:/app
    ports:
      - "8001:8000"
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
    depends_on:
      - rabbitmq
    restart: unless-stopped

  ai_service:
    build:
      context: ./backend/ai_service
      dockerfile: Dockerfile
    container_name: ai_service
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend/ai_service:/app
    ports:
      - "8002:8000"
    environment:
      - MONGO_URL=mongodb://mongo_db:27017/
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
    depends_on:
      - mongo_db
      - rabbitmq
    restart: unless-stopped


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules 
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true 
    stdin_open: true 
    tty: true


volumes:
  postgres_data:
  mongo_data:
  rabbitmq_data: